* {
    margin: 0;
  }
  
  .app__header {
    object-fit: contain;
    display: flex;
    z-index: 1;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    justify-content: space-between;
    position: sticky;
    top: 0;
  
  }
  
  .app {
    background-color: #121212
  }
  
  .app_headerImage {
    object-fit: content;
  }
  
  .app__signup {
    display: flex;
    flex-direction: column;
  }
  
  .unauth {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }
  
  /* posts */
  
  .app__posts {
    display: flex;
    padding-top: 20px;
    /* padding-left: 500px;
     */
     justify-content: center;
    background-color: #121212;;
  }
  
  .app__postleft {
    margin-left: 10px
  }
  
  .post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  
  .post__header {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .post__avatar {
    margin-right: 10px;
  
  }
  
  .post__text {
    padding: 20px;
  }
  
  .post {
    background-color: white;
    max-width: 500px;
    border: 1px solid black;
    margin-bottom: 45px;
    border-radius: 10px;
  
  
  }
  
  .post__commentbox {
    display: flex;
    margin-top: 10px;
  }
  
  .post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightblue;
  }
  
  .post__button {
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
  }
  
  .post__comments {
    padding: 20px;
    display: flex;
  }
  
  /* upload */
  
  .imagesupload {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #121212;
    color: white;
  
  
  }
  
  .progress {
    width: 100%;
  }
  
  input[type=file] {
    font-size: medium;
    display: inline-block;
    cursor: pointer;
  }


  /* MAIN PAGE CSS  */

  .mainpagehero {
    display: flex;
    height: 100vh;
  }
  
  .main_page_left {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .main_page_left img {
    max-width: 80%;
    height: auto;
  }
  
  .main_page_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right_wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    padding: 80px 20px;
  }

  .app__signup{
    width: 300px;
  }

  .form_input{
    border: 2px solid #e2e2e2;
    border-radius: 4px;
    padding: 4px;
    margin-top: 20px;
  }

  
  .main_page_right button {
    margin-bottom: 20px;
    background: #0094f7;
    margin-top: 20px;
    color: white;
    border-radius: 6px;
  }
  
  /* Adjust the styles as needed */
  

  @media (max-width: 768px) {
    .app__posts {
      padding-top: 0; /* Remove padding-top for mobile */
      padding-left: 0; /* Remove padding-left for mobile */
    }
    .main_page_left {
      display: none;
    }
  }